* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 18px;
    color: #14214b;
    text-align: center;
}

body {
    margin: 0;
    background-color: #feffeb;
}

h1 {
    color: #43e19a;
    font-family: Pacifico;
    font-size: 3rem;
    text-align: center;
    margin-bottom: .5rem;
}

h2 {
    border-bottom: 6px dotted white;
    padding-bottom: 1rem;
    margin: .5rem;
}

p {
    margin: .5rem;
}