.contact {
    padding: 0rem 1rem;
    margin-bottom: 2rem;
  
    .contactflex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        display: flex;

        margin: 1rem;
    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
  
  /* Style the submit button with a specific background color etc */
    input[type=submit] {
    background-color: #feffeb;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: Pacifico;
    color: #43e19a;
    }
  
  /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
    background-color:#feffeb;
    color: hotpink;
    }
  
  /* Add a background color and some padding around the form */
  .contactbox {
    width: 30rem;
    border-radius: 5px;
    border: 7px dotted white;
    // background-color: #f2f2f2;
    padding: 20px;
    }

}