.portfolio {
    padding: 0rem 1rem;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 13rem;
    }
}

.project {
    margin: 1rem;
    border: 7px dotted white;
    width: 19rem;
}

.projectp {
    border-bottom: 6px dotted white;
}

.project-footer {
    font-family: Pacifico;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    font-display: none;

    a{
        color: #43e19a;
        text-decoration: none;
        font-size: 1.5rem;
    }
    a:hover {
        color: hotpink;
    }
}

span {
    font-weight: bold;
}