
footer {
    background-color: #14214b;
    height: 4.5em;
    font-family: "Gayathri";
    color: white;
    padding: 1.5em;



    .nav {
        font-size: 75%;
        background-color: #14214b;
        display: flex;
        justify-content: flex-end;
    
        a {
            color: white;
            text-decoration: none;
            padding: .3rem;
        }
    
        a:hover {
            color: #43e19a;
        }
    }

}