nav {
    background-color: #14214b;
    height: 2rem;
    font-family: "Gayathri";
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;

    a {
        color: white;
        text-decoration: none;
        padding: .3rem;
    }

    a:hover {
        color: #43e19a;
    }
}

.header {
    background-color: #14214b;
    display: flex;
    justify-content: space-between;

    img {
        padding: 0rem;
        margin-left: 4rem;
    }
}